DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-this-only-in-your-local-env
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173

POSTGRES_DB=devschedule
POSTGRES_USER=devschedule
POSTGRES_PASSWORD=devschedule
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

